/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Component (SMACSS module) rules */
@import "components/misc";

// Optionally, add your own components here.
@import "print";

// Skeleton style
@import "components/skeletonbase";
@import "components/skeletonlayout";
@import "components/skeletonflexslider";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */


// General style 
@mixin sans-regular() {
	font-family: "open sans", sans-serif;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}
@mixin sans-light() {
	font-family: "open sans", sans-serif;
	font-weight: 100;
	text-decoration: none;
}
@mixin font() {
	font-family: "open sans", sans-serif;
}

// Body general styles
body {
	background: #f7f7f7;
}
#admin-menu .dropdown li li {
	font-size: 11px;
}

/*  -------  header-user-form  ------  */
.page-header-wrapper {
	background-color: #37363b;
   color: #c1bcb5;
  	width: 100%;
   height: 90px;
   margin-bottom: 40px;
	.pane-page-site-name {
		display: block;
		font-family: 'brandon_g_bold', sans-serif;
		font-size: 24px;
		line-height: 100%;
		margin: 35px 0 0 0;
		text-transform: uppercase;
		color: #fff;
		text-decoration: none;
		z-index: 10;
		position: relative;
		transition: 300ms linear all;
		float: left;
		cursor: pointer;
	}
	.pane-custom.pane-1 {
		float: right;
		display: inline-block;
		margin-top: 15px;
		.pane-content > ul {
			li {
				line-height: 18px;
				margin-bottom: 12px;
				float: left;
				& + li:before {
				    content: " / ";
				    padding: 0 10px;
				}
				&:last-child a:hover {
				  color: #fff;
				  border-bottom-color: #817d7b;
				  padding: 8px 20px;
				}
				a {
					color: #817d7b;
					text-decoration: none;
					@include sans-regular();
					font-size: 18px;
					transition: all linear 300ms;
					&:hover {
						color: #fff;
					   border-bottom: 1px solid #fff;
					   padding-bottom: 5px;
					}
				}
			}
		}
	}
}


/*  -------  footer-user-form  ------  */
.page-footer-wrapper {
	height: 160px;
	width: 100%;
	overflow: hidden;
	color: #fff;
	background: url(../images/bg-footer.png) no-repeat center center;
	margin-top: 30px;
	.pane-page-site-name {
		margin-top: 20px;
		font-family: 'brandon_g_bold', sans-serif;
		font-size: 20px;
		color: #fff;
	}
	.pane-menu-menu-footer-menu {
		float: left;
		margin-top: 20px;
		.menu-menu-footer-menu li{
			margin: 10px;
			a {
				color: #fff;
				text-decoration: none;
			}
		}
	}
	.pane-custom.pane-2 {
		float: right;
		margin-top: 85px;
		p {
			@include sans-light();
			font-size: 14px;
		}
	}
}


/*  -------  user-register-form  ------  */
.pane-page-content form {
	.form-required {
		margin-bottom: 45px;
	}
	.form-item-pass small{
		margin-top: -45px;
	}
	input[type="text"],
   input[type="email"],
   input[type="phone"],
   input[type="password"],
   input[type="submit"],
	input[type="reset"],
   select {
		width: 100%;
		max-width: 470px;
		height: 40px;
		border: 1px solid #f0f0f0;
		outline: none;
		padding-left: 10px;
		float: right;
		right: 380px;
		position: relative;
		display: inline-block;
		background-color: #fff;
		@include sans-regular();
		color: #222;
	}
	small {
		float: right;
		width: 30%;
		font-size: 11px;
		letter-spacing: .5px;
		@include sans-light();
		color: #222;
		margin-top: -42px;
		display: inline-block;
		clear: right;
	}
}

.pane-pane-messages {
	padding: 10px;
	margin-top: 20px;
	border-bottom: 1px solid #f0f0f0;
	.tabs.primary li {
		list-style: none;
		display: block;
		padding: 5px 0;
		a {
			@include sans-regular();
			font-size: 16px;
			transition: opacity .25ms linear;
			&:hover{
				opacity: 0.7; 
			}
		}
	}
}

.not-logged-in.page-user {
	small {margin-top: -62px;}
	h2 {
		font-size: 30px;
		text-align: center;
		margin: 60px auto 50px;
	}
	label {
		@include sans-regular();
		font-size: 16px;
		color: #222;
		margin-left: 90px;
		margin-top: 8px;
		float: left;
	}
	.form-actions.form-wrapper {
		.form-submit {
			@include sans-regular();
			color: #fff;
			font-size: 16px;
			font-weight: normal;
			display: inline-block;
			width: auto;
			padding: 20px 25px !important;
			background-color: #37353b;
			line-height: 0;
			margin: 20px 0 0 510px;
			transition: opacity 0.3s linear;
			&:hover {
				opacity: .8;
			}
		}
	}
	.user-pass {
		.form-actions.form-wrapper {
			.form-submit {
				margin-top: 0;
			}
		}
	}
	.form-type-password-confirm {
		overflow: hidden;
		clear: both;
		.password-strength, .password-confirm, .password-suggestions {
			margin-left: 90px;
			color: #222;
			@include sans-light();
			font-size: 13px;
		}
	}
}

/*  -------  user-account-form  ------  */
.logged-in.page-user {
	.panel-pane.pane-pane-messages {
		margin-top: 40px;
		.tabs.primary {
			padding-bottom: 20px;
			li {
				display: block;
			    list-style: none;
			    padding: 5px 0;
				a {
					@include sans-regular();
				   font-size: 20px;
				   text-decoration: none;
				   transition: all 250ms linear 0s;
				}
			}
			.active {
				color: red;
			}
		}
	}
}

.page-user-edit{
	#edit-account {
		padding-bottom: 20px;
		padding-left: 15px;
		margin-top: 40px;
		border-bottom: 1px dashed #f0f0f0;
		> div {
			overflow: hidden;
			margin-bottom: 40px;
		}
		.form-item-mail {
			small {margin-top: -65px;}
		}
		.form-type-password {
			overflow: hidden;
			.password-strength, .password-confirm{
				margin-left: 90px;
				@include sans-light();
			}
		}
		.password-suggestions {
			margin: 15px 0 0 90px;
			@include sans-light();
		}
		.form-item-pass {
			.form-item-pass-pass2 {
				margin-top: 30px;
				label {
					margin-top: 15px;
				}
			}
		}
	}
	#edit-picture {
		border: 0;
		margin-top: 50px;
		padding: 0	;
		legend span {
			@include sans-regular();
			color: #777777;
			font-size: 30px;
		}
	}
	#edit-field-first-second-name {
		margin: 25px 0 0 0;
		padding: 0 0 100px 15px;
		border-bottom: 1px dashed #f0f0f0;
		label {
			@include sans-regular();
			font-size: 16px;
			margin-top: 8px;
		}
	}
	#edit-timezone {
		border: 0;
		margin-top: 50px;
		padding: 0;
		legend span {
			padding: 0;
			a {
				@include sans-regular();
				font-size: 30px;
				color: #777777;
			}
		}
		.form-item-timezone {
			padding-left: 15px;
			margin-top: 25px;
		}
	}
	#edit-field-phone-number {
		margin: 30px 0 0 15px;
	}
	.form-actions.form-wrapper {
		width: 100%;
		display: block;
		clear: both;
		margin: 30px 0 0 0;
		padding-bottom: 10px;
		overflow: hidden;
		.form-submit {
			float: right;
			margin-right: 0;
			border: 0;
			border-radius: 0;
			background-color: #999;
			width: auto;
			padding: 15px 20px;
			line-height: 12px;
			transition: background-color .25s linear, color .25s ease-in;
			&:hover {
				background-color: #555;
				color: #fff;
			}
		}
	}
}
.form-item-files-picture-upload {
	margin-top: 25px;
	label {
		margin-left: 105px;
		margin-top: 10px;
	}
	input {
		margin: 10px 0 0 15px;
		font-size: 12px;
		max-width: auto;
		background-color: #f7f7f7;
		border: none;
		height: 20px;
	}
	small {
		letter-spacing: .5px;
		margin-left: 30px;
	}
}



/*  -------  header-user-form  ------  */

.logged-in.page-user {
	.pane-page-content {
		h2 {
			@include sans-regular();
			margin-top: 40px;
		}
		.pane-user-profile {
			h3 {
				@include font();
			}
			dl {
				@include font();
				dt {
					margin-top: 10px;
					@include font();
				}
				a {
					color: #222222;
					text-decoration: none;
					transition: colo .3s linear;
					&:hover {
						color: #777777;
					}
				}
			}
		}
		.view-content {
			.views-row {
				width: 32%;
				float: left;
				overflow: hidden;
				margin: 1% 1% 0 0;
				.views-field-field-pictures {
					height: 250px;
					max-width: 100%;
					img {
						max-width: 100%;
						max-height: 100%;
						display: block;
						margin: 0 auto;
					}
				}
				.views-field-title a {
					@include sans-regular();
					font-size: 16px;
					transition: color .25s linear;
					padding: 15px 0 10px 0;
					display: block;
					&:hover {
						color: #777777;
					}
				}
				.views-field-field-pict-status {
					@include font();
				}
			}
		}
	}
}

.node-type-painting {
	@include font();
	.pane-title {
		@include sans-regular();
		margin-bottom: 20px;
	}
	.node-painting.clearfix {
		@include font();
		.field-label-above {
			@include font();
			margin-top: 15px;
			> div:last-child {
				margin: 5px 0 0 10px;
				a {
					color: #777777;
					text-decoration: none;
					transition: color .3s linear;
					&:hover {
						color: #000;
					}
				}
			}
		}
	}
}


/*  -------  header-user-form  ------  */
.page-gallery {
	.circle-columns-column {
		.views-row {
			@include sans-regular();
			text-decoration: none;
			float: left;
			display: inline-block;
			.views-field {
				margin-bottom: 5px;
			}
			.views-field-field-pictures {
				margin-bottom: 10px;
				img {
					max-width: 100%;
				}
			}
		}
	}
}


/*  -------  page-node-add-painting  ------  */
.page-node-add-painting {
	color: #222;
	label {
		float: left;
		@include sans-regular();
		font-size: 15px;
		color: #222;
		margin-top: 12px;
	}
	.form-wrapper {
		overflow: hidden;
		clear: both;
	}
	.field-body-label {
		display: block;
		clear: both;
	}
	.text-full.form-textarea {
		@include sans-regular();
		background-color: #fff;
		color: #222;
		border: 0;
		margin: 15px 0 30px 0;
		max-width: 100%;
	}
	.grippie {display: none;}
	#edit-body-und-0-format {
		border-top: 1px solid #f0f0f0;
		padding-top: 20px;
		.filter-help a {
			@include sans-regular();
			text-decoration: none;
		}
	}
	.filter-guidelines-processed {
		@include sans-regular();
		font-size: 12px;
		padding: 15px 0;
		border-bottom: 1px solid #f0f0f0;
		> div {
			margin-left: 15px;
		}
	}
	.field-type-image {
		label {
			margin-left: 15px; 
		}
		border-bottom: 1px solid #f0f0f0; 
		legend span {
			@include sans-regular();
			font-size: 20px;
		}
		.media-widget .button.browse{
			color: #ff0000;
			text-decoration: none;
			float: left;
			margin: 13px 0 0 25px;
		}
		.form-required {
			margin-bottom: 0;
		}
	}
	.field-name-field-picture-type {
		margin-top: 30px;
		label {
			float: none;
		}
		.field-field_picture_type-label {
			font-size: 20px;
			margin-bottom: 5px;
		}
		.form-type-radio {
			width: 24%;
			float: left;
			display: inline-block;
			input {
				float: left;
				margin: 15px 10px 0 15px;
			}
		}
	}
	.field-name-field-picture-technique-tax {
		margin-top: 25px;
		border-bottom: 1px solid #f0f0f0;
		padding-bottom: 10px;
	}
	.group-picture-size {
		margin-top: 25px;
		border-bottom: 1px solid #f0f0f0;
		padding-bottom: 15px;
		legend span {
			font-size: 20px;
		}
		.field-type-number-decimal {
			margin-top: 10px;
			position: relative;
			label {
				margin-left: 15px;
			}
			span {
				position: absolute;
				bottom: 8px;
				left: 15px;
				@include sans-light();
				font-size: 12px;
			}
		}
	}
	.field-name-field-picture-year {
		border-bottom: 1px solid #f0f0f0;
		legend span {
			font-size: 20px;
		}
		select {
			background-color: #000;
			position: relative;
		}
	}
	.field-type-taxonomy-term-reference {
		.form-type-checkboxes > label {
			float: none;
			font-size: 20px;
			margin-top: 25px;
		}
		.form-type-checkbox {
			width: 25%;
			float: left;
			input {
				margin: 18px 0 0 10px;
			}
		}
	}
	.field-name-field-picture-styles {
		border-bottom: 1px solid #f0f0f0;
		padding-bottom: 25px;
		margin-bottom: 20px;
	}
	#edit-actions {
		input {
			float: right;
			display: inline-block;
			width: auto;
			border-radius: 0;
			padding: 10px 20px;
			clear: none;
			margin-left: 20px;
			background-color: #37363b;
			color: #fff;
			transition: opacity .25s linear;
			&:hover {
				opacity: 0.8;
			}
		}
	}
}


/*  -------  page-node-add-painting  ------  */
.page-gallery {
	background-color: #fff;
	.frame-header {
		width: 100%;
		height: 380px;
		background: url(../images/bg_gallery.png) no-repeat center center;
		background-size: 100%;
		h2 {
			font-family: "brandon_g_bold";
			font-size: 40px;
			font-weight: bold;
			margin: 6% 0 0 6%;
			text-transform: uppercase;
			line-height: 120%;
			max-width: 400px;
		}
		.pane-content {
			max-width: 400px;
			margin: 0 0 0 6%;
			padding-top: 30px;
			position: relative;
			p {
				font-family: "brandon_g_bold";
				font-size: 22px;
				color: #37363b;
				text-transform: uppercase;
				font-weight: bold;
				margin-top: 35px;
				line-height: 120%;
			}
			&:before {
				content: " ";
				position: absolute;
				width: 80px;
				height: 1px;
				border: 1px solid #37363b;
			}
		}
	}
	.frame-prices {
		@include sans-regular();
		.container {padding: 0;}
		.pane-content {
			ul {
				display: inline-block;
				float: left;
				@include sans-regular();
				text-transform: uppercase;
				margin: 0;
				padding: 0;
				box-sizing:border-box;
			   -moz-box-sizing:border-box;
			   -webkit-box-sizing:border-box;
				li {
					line-height: 40px;
					border: 1px solid #e8e8e8;
					border-bottom: none;
					border-right: none;
					width: 100%;
					margin: 0;
					padding-left: 15px;
					box-sizing: border-box;
			   	-moz-box-sizing: border-box;
			   	-webkit-box-sizing: border-box;
					&:first-child {
						color: #37363b;
						font-weight: bold;
						font-size: 18px;
						font-size: 18px;
						line-height: 55px;
						display: block;
						width: 100%;
						font-style: italic;
					}
					&:last-child {
						border-bottom: 1px solid #e8e8e8;
						border-top: 1px dashed #e8e8e8;
					}
				}
			}
		 > .col-md-3 {
			padding-right: 0;
			ul {
				width: 100%;
				li:first-child {
					border-left: none;
					padding-left: 0;
					font-style: normal;
				}
			}
		}
		.col-md-9 {
			color: #c1bcb5;
			ul {
				li {
					font-weight: 600;
					-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
				  	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
				  	box-sizing: border-box;
					max-height: 57px;
				}
				&:first-child li:first-child {
					color: #e2b889;
					font-size: 20px;
					background: url(../images/bronze_g.png) no-repeat 90% center;
					&.active {
						background-image: url(../images/bronze_active.png);
						border-bottom: 2px solid #e1b88a;
						background-color: #f9f9f9;
					}
				}
				&:nth-child(2) li:first-child {
					background: url(../images/silver_g.png) no-repeat 90% center;
					color: #bababa;
					font-size: 20px;
					&.active {
						background-image: url(../images/silver_active.png);
						background-color: #f9f9f9;
						border-bottom: 1px solid #bababa;
					}
				}
				&:nth-child(3) li:first-child {
					background: url(../images/gold_g.png) no-repeat 90% center;
					color: #fab753;
					font-size: 20px;
					&.active {
						background-image: url(../images/gold_active.png);
						background-color: #f9f9f9;
						border-bottom: 1px solid #fab753;
					}
				}
				&:last-child {
					 	li {
							border-right: 1px solid #e8e8e8;
						}
						li:first-child {
							background: url(../images/diamond_g.png) no-repeat 90% center;
							color: #a4b4d7;
							font-size: 20px;
							&.active {
								background-image: url(../images/diamond_active.png);
								background-color: #f9f9f9;
								border-bottom: 1px solid #a4b4d7;
							}
						}
					}
				}
			}
		}
	}
	.frame-content {
		.col-md-3 {
			.row {
				margin: 0;
			}
			.views-exposed-widget {
				border-top: none;
				width: 106.1%;
				padding: 0;
				margin: 0;
				& > label {
					@include sans-regular();
					color: #37363b;
					font-size: 18px;
					text-transform: uppercase;
					font-weight: 600;
					padding: 20px 0;
				}
			}
			.views-widget-filter-title {
				border-right: 1px solid #e8e8e8;
				& > label {padding-top: 5px;}
				input {
					right: 0;
					border-radius: 26px;
					padding-left: 15px;
					max-width: 95%;
					float: left;
				}
			}
			.views-widget-filter-field_picture_type_tid {
				text-transform: uppercase;
				padding-right: 0;
				& > label {
					border-right: 1px solid #e8e8e8;
				}
				.form-type-bef-checkbox {
					border: 1px solid #e8e8e8;
					border-bottom: none;
					height: 40px;
					input {display: none;}
					label {
						@include sans-regular();
						font-size: 15px;
						font-weight: 400;
						padding-left: 15px;
						line-height: 40px;
						color: #37363b;
					}
					&:last-child {border-bottom: 1px solid #e8e8e8;}
					&.active {
						border-left: 2px solid #ee654d;
						border-right: none;
						label {color: #ee654d;}
					}
				}
			}
		}
		.views-widget-filter-field_total_width_value, .views-widget-filter-field_picture_author_tid {
			& > label {
				border-right: 1px solid #e8e8e8;
				border-bottom: 1px solid #e8e8e8;
			}
			select {
				right: 0;
				height: auto;
				border-top: none;
				padding: 0;
				option {
					margin: auto 10px;
					border-bottom: 1px solid #E8E8E8;
					line-height: 40px;
					display: block;
					padding: 11px 0;
					text-transform: uppercase;
					background-color: #fff;
					&:last-child {border-bottom: none;}
				}
			}
		}
		.views-submit-button input {
			right: 0;
			width: auto;
			float: left;
			padding: 10px 30px;
			transition: all .3s ease-in;
			outline: none;
			&:hover {
				color: #fff;
				background-color: #37363b;
				border: 1px solid #fff;
			}
		}
		.col-md-9.circle-columns-column {
			.row {margin: 15px -15px 20px 0;}
			.pager {
				border-top: 1px solid #e8e8e8;
				margin-top: 30px;
				padding-top: 20px;
				li {
					margin: 0 15px;
					a {
						border: none;
						text-decoration: none;
						color: #c1bcb5;
						font-size: 14px;
						padding: 0;
						margin: 0;
						transition: all .25s linear;
						&:hover {
							background-color: #fff;
							opacity: 0.8;
						}
					}
				}
			}
			.pager-current {color: #ee654d;}
		}
	}
	.view-content .views-row:last-child {margin-bottom: 40px !important;}
}

































