/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Component (SMACSS module) rules */
@import "components/misc";

// Optionally, add your own components here.
@import "print";

// Skeleton style
@import "components/skeletonbase";
@import "components/skeletonlayout";
@import "components/skeletonflexslider";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */


// General style 
@mixin sans-regular() {
	font-family: "open sans", sans-serif;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}
@mixin sans-light() {
	font-family: "open sans", sans-serif;
	font-weight: 100;
	text-decoration: none;
}
@mixin font() {
	font-family: "open sans", sans-serif;
}

// Body general styles
body {
	background: #f7f7f7;
}
#admin-menu .dropdown li li {
	font-size: 11px;
}

/*  -------  header-user-form  ------  */
.page-header-wrapper {
	background-color: #37363b;
   color: #c1bcb5;
  	width: 100%;
   height: 90px;
	.pane-page-site-name {
		display: block;
		font-family: 'brandon_g_bold', sans-serif;
		font-size: 24px;
		line-height: 100%;
		margin: 35px 0 0 0;
		text-transform: uppercase;
		color: #fff;
		text-decoration: none;
		z-index: 10;
		position: relative;
		transition: 300ms linear all;
		float: left;
		cursor: pointer;
	}
	.pane-custom.pane-1 {
		float: right;
		display: inline-block;
		margin-top: 15px;
		.pane-content > ul {
			li {
				line-height: 18px;
				margin-bottom: 12px;
				float: left;
				& + li:before {
				    content: " / ";
				    padding: 0 10px;
				}
				&:last-child a:hover {
				  color: #fff;
				  border-bottom-color: #817d7b;
				  padding: 8px 20px;
				}
				a {
					color: #817d7b;
					text-decoration: none;
					@include sans-regular();
					font-size: 18px;
					transition: all linear 300ms;
					&:hover {
						color: #fff;
					   border-bottom: 1px solid #fff;
					   padding-bottom: 5px;
					}
				}
			}
		}
	}
}


/*  -------  footer-user-form  ------  */
.page-footer-wrapper {
	height: 160px;
	width: 100%;
	overflow: hidden;
	color: #fff;
	background: url(../images/bg-footer.png) no-repeat center center;
	margin-top: 30px;
	.pane-page-site-name {
		margin-top: 20px;
		font-family: 'brandon_g_bold', sans-serif;
		font-size: 20px;
		color: #fff;
	}
	.pane-menu-menu-footer-menu {
		float: left;
		margin-top: 20px;
		.menu-menu-footer-menu li{
			margin: 10px;
			a {
				color: #fff;
				text-decoration: none;
			}
		}
	}
	.pane-custom.pane-2 {
		float: right;
		margin-top: 85px;
		p {
			@include sans-light();
			font-size: 14px;
		}
	}
}


/*  -------  user-register-form  ------  */
.pane-page-content form {
	.form-required {
		margin-bottom: 45px;
	}
	.form-item-pass small{
		margin-top: -45px;
	}
	input[type="text"],
   input[type="email"],
   input[type="phone"],
   input[type="password"],
   input[type="submit"],
	input[type="reset"],
   select {
		width: 100%;
		max-width: 470px;
		height: 40px;
		border: 1px solid #f0f0f0;
		outline: none;
		padding-left: 10px;
		float: right;
		right: 380px;
		position: relative;
		display: inline-block;
		background-color: #fff;
		@include sans-regular();
		color: #222;
	}
	small {
		float: right;
		width: 30%;
		font-size: 11px;
		letter-spacing: .5px;
		@include sans-light();
		color: #222;
		margin-top: -42px;
		display: inline-block;
		clear: right;
	}
}

.pane-pane-messages {
	padding: 10px;
	margin-top: 20px;
	border-bottom: 1px solid #f0f0f0;
	.tabs.primary li {
		list-style: none;
		display: block;
		padding: 5px 0;
		a {
			@include sans-regular();
			font-size: 16px;
			transition: opacity .25ms linear;
			&:hover{
				opacity: 0.7; 
			}
		}
	}
}

.not-logged-in.page-user {
	small {margin-top: -62px;}
	h2 {
		font-size: 30px;
		text-align: center;
		margin: 60px auto 50px;
	}
	label {
		@include sans-regular();
		font-size: 16px;
		color: #222;
		margin-left: 90px;
		margin-top: 8px;
		float: left;
	}
	.form-actions.form-wrapper {
		.form-submit {
			@include sans-regular();
			color: #fff;
			font-size: 16px;
			font-weight: normal;
			display: inline-block;
			width: auto;
			padding: 20px 25px !important;
			background-color: #37353b;
			line-height: 0;
			margin: 20px 0 0 510px;
			transition: opacity 0.3s linear;
			&:hover {
				opacity: .8;
			}
		}
	}
	.user-pass {
		.form-actions.form-wrapper {
			.form-submit {
				margin-top: 0;
			}
		}
	}
	.form-type-password-confirm {
		overflow: hidden;
		clear: both;
		.password-strength, .password-confirm, .password-suggestions {
			margin-left: 90px;
			color: #222;
			@include sans-light();
			font-size: 13px;
		}
	}
}

/*  -------  user-account-form  ------  */
.logged-in.page-user {
	.panel-pane.pane-pane-messages {
		margin-top: 40px;
		.tabs.primary {
			padding-bottom: 20px;
			li {
				display: block;
			    list-style: none;
			    padding: 5px 0;
				a {
					@include sans-regular();
				   font-size: 20px;
				   text-decoration: none;
				   transition: all 250ms linear 0s;
				}
			}
			.active {
				color: red;
			}
		}
	}
}

.page-user-edit{
	#edit-account {
		padding-bottom: 20px;
		padding-left: 15px;
		margin-top: 40px;
		border-bottom: 1px dashed #f0f0f0;
		> div {
			overflow: hidden;
			margin-bottom: 40px;
		}
		.form-item-mail {
			small {margin-top: -65px;}
		}
		.form-type-password {
			overflow: hidden;
			.password-strength, .password-confirm{
				margin-left: 90px;
				@include sans-light();
			}
		}
		.password-suggestions {
			margin: 15px 0 0 90px;
			@include sans-light();
		}
		.form-item-pass {
			.form-item-pass-pass2 {
				margin-top: 30px;
				label {
					margin-top: 15px;
				}
			}
		}
	}
	#edit-picture {
		border: 0;
		margin-top: 50px;
		padding: 0	;
		legend span {
			@include sans-regular();
			color: #777777;
			font-size: 30px;
		}
	}
	#edit-field-first-second-name {
		margin: 25px 0 0 0;
		padding: 0 0 100px 15px;
		border-bottom: 1px dashed #f0f0f0;
		label {
			@include sans-regular();
			font-size: 16px;
			margin-top: 8px;
		}
	}
	#edit-timezone {
		border: 0;
		margin-top: 50px;
		padding: 0;
		legend span {
			padding: 0;
			a {
				@include sans-regular();
				font-size: 30px;
				color: #777777;
			}
		}
		.form-item-timezone {
			padding-left: 15px;
			margin-top: 25px;
		}
	}
	#edit-field-phone-number {
		margin: 30px 0 0 15px;
	}
	.form-actions.form-wrapper {
		width: 100%;
		display: block;
		clear: both;
		margin: 30px 0 0 0;
		padding-bottom: 10px;
		overflow: hidden;
		.form-submit {
			float: right;
			margin-right: 0;
			border: 0;
			border-radius: 0;
			background-color: #999;
			width: auto;
			padding: 15px 20px;
			line-height: 12px;
			transition: background-color .25s linear, color .25s ease-in;
			&:hover {
				background-color: #555;
				color: #fff;
			}
		}
	}
}
.form-item-files-picture-upload {
	margin-top: 25px;
	label {
		margin-left: 105px;
		margin-top: 10px;
	}
	input {
		margin: 10px 0 0 15px;
		font-size: 12px;
		max-width: auto;
		background-color: #f7f7f7;
		border: none;
		height: 20px;
	}
	small {
		letter-spacing: .5px;
		margin-left: 30px;
	}
}



/*  -------  header-user-form  ------  */

.logged-in.page-user {
	.pane-page-content {
		h2 {
			@include sans-regular();
			margin-top: 40px;
		}
		.pane-user-profile {
			h3 {
				@include font();
			}
			dl {
				@include font();
				dt {
					margin-top: 10px;
					@include font();
				}
				a {
					color: #222222;
					text-decoration: none;
					transition: colo .3s linear;
					&:hover {
						color: #777777;
					}
				}
			}
		}
		.view-content {
			.views-row {
				width: 32%;
				float: left;
				overflow: hidden;
				margin: 1% 1% 0 0;
				.views-field-field-pictures {
					height: 250px;
					max-width: 100%;
					img {
						max-width: 100%;
						max-height: 100%;
						display: block;
						margin: 0 auto;
					}
				}
				.views-field-title a {
					@include sans-regular();
					font-size: 16px;
					transition: color .25s linear;
					padding: 15px 0 10px 0;
					display: block;
					&:hover {
						color: #777777;
					}
				}
				.views-field-field-pict-status {
					@include font();
				}
			}
		}
	}
}

.node-type-painting {
	@include font();
	.pane-title {
		@include sans-regular();
		margin-bottom: 20px;
	}
	.node-painting.clearfix {
		@include font();
		.field-label-above {
			@include font();
			margin-top: 15px;
			> div:last-child {
				margin: 5px 0 0 10px;
				a {
					color: #777777;
					text-decoration: none;
					transition: color .3s linear;
					&:hover {
						color: #000;
					}
				}
			}
		}
	}
}


/*  -------  header-user-form  ------  */
.page-gallery {
	.circle-columns-column {
		.views-row {
			@include sans-regular();
			text-decoration: none;
			float: left;
			display: inline-block;
			.views-field {
				margin-bottom: 5px;
			}
			.views-field-field-pictures {
				margin-bottom: 10px;
				img {
					max-width: 100%;
				}
			}
		}
	}
}

















