/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Component (SMACSS module) rules */
@import "components/misc";

// Optionally, add your own components here.
@import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */


body {
	background: #f0f0f0;
}

.not-logged-in.page-user {
	.pane-pane-messages {
		background: #fff;
		padding: 10px;
		margin-top: 20px;
	}
	.user-login {
		background: #fff;
		padding: 30px;
	}
	h2 {
		margin-bottom: 15px;
		text-align: center;
	}
}